<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log\SqueakApi.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackUps value="0" />
    <maximumFileSize value="100MB" />
    <datePattern value="yyyyMMdd&quot;.log&quot;" />

    <!--<param name="File" value="Log\JoelFongAPI_"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Date"/>
    <datePattern value="ddMMyyyy.LOG"/>-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-22.22M - %m%n" />
      <!--<param name="ConversionPattern" value="%d [%t] %-5pc %c %m%n" />-->
      <!--<param name="ConversionPattern" value="%date{ABSOLUTE} [%thread] %level - %message%newline%exception" />-->
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="LogFileAppender"/>
  </root>
</log4net>

<!--NOTE: in config file's property, make it [Content] + [Copy always]-->
<!--Don't forget to add this code in AssemblyInfo.cs >> [assembly: XmlConfigurator(ConfigFile = "Log4Net.config", Watch = "true")]-->